/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body 
{
background-color: #060f2d; 
}

h1
{
color: white;
font-variant: small-caps;
text-align: center;
text-shadow: 2px 2px grey;
font-family: Verdana;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid grey;
border-top: 1px solid grey;
}

a
{
font-family: Tahoma, sans-serif;
text-align: center;
color: grey;
text-decoration: none;
background-color: white;
padding: 8px 8px 8px 8px;
border-radius: 5px;
border: 1px solid black;
display: block;
width: 50px;
}

a:hover
{
color: grey;
letter-spacing: 1px;
}


.post
{
font-family: Tahoma, sans-serif;
color: white;
background-color: #0d235a;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px 15px 10px 15px;
border-radius: 10px;
border: 1px solid black;
width: 666px;
}

.post a
{
text-align: center;
color: grey;
text-decoration: none;
background-color: #060f2d;
padding: 3px 3px 3px 3px;
margin-bottom: 1px;
border-radius: 5px;
border: 1px solid black;
display: block;
width: 55px;
position:relative; left: 600px;bottom: 18px;
}

.post a:hover
{
color: white;
letter-spacing: 1px;
}

@-webkit-keyframes shake {
  0%{
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-webkit-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  16%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0%{
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-ms-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-ms-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-ms-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-ms-transform: rotate(-18deg);
  }
  16%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
  }
}
